body {
  background-color: rgb(237, 240, 245);
}
/* .card-body {
  background-color: hsl(225, 3%, 25%);
}
.card.text-white {
  background-color: hsl(225, 3%, 25%);
}
.row {
  background-color: hsl(225, 3%, 25%);
}

.col {
  background-color: hsl(225, 3%, 25%);
}

.card-text {
  background-color: hsl(225, 3%, 25%);
}

.card-header {
  background-color: hsl(225, 3%, 25%);
}
.card {
  background-color: hsl(225, 3%, 25%);
}
.text-color {
  color: hsl(150, 100%, 100%);
} */
.cdd {
  background-color: rgb(181, 171, 158);
}
.circular--portrait {
  position: relative;
  width: 100px;

  overflow: hidden;
  border-radius: 20%;
}

.circular--portrait img {
  max-width: 50%;
}
